#frist{
    width: 1944px;
    height: 500px;
    background-image: url("../imag/bj1.gif");
    /*background-attachment: fixed;*/
    background-position: center top;/*背景定位*/
    /*filter:brightness(.5);*/
}


.floatL{
    float: left;
}

.floatR{
    float: right;
}


#headBanner{
    width: 1944px;
    height: 400px;
    background-image: url(../imag/bg.png);
    background-attachment: fixed;
    background-position: center ;  /* 绿叶子的背景图*/


}

#nav{
    width: 100%;
    height: 92px;
    position: fixed;
    z-index: 999;
    margin-top: 25px;
    background-color: black; /*黑色的导航栏*/
}

#nav>ul>li>a{
    color: #ffffff;
    margin-right: 30px;
    font-size: 20px;

    text-decoration: none;  /*改变导航文字标签的下划线*/
}


#nav>ul{
    margin-top: 25px; /*整体导航文字距离上边距*/
}





#nav img{
    margin-top: -2px;
    margin-left: 20px;
    margin-bottom: 25px;
    width: 130px;      /*logo大小*/
}

#nav li{

    text-align: center;

    list-style: none;  /*取消原点*/
}

#sousuo {
    color: white;
    margin-right: 50px;
    margin-top: 40px;

    font-size: 20px;    /*<!--搜索登录注册整体字体-->*/



}

a{
    color: white;
    text-decoration: none;

    margin-left: 15px;     /*登陆注册a标签去下划线*/
}

.loginbox{
    border-radius: 10px 0 0 10px;
    margin-right: 5px;

    background-color: rgba(255,255,255,0.3);   /*登陆盒子透明*/

}

.resitbox{
    border-radius: 0 10px 10px 0;
    margin-right: 5px;

    background-color: rgba(255,255,255,0.3);   /*注册盒子透明*/
}


.yin{
    width: 32px;
    height: 15px;
    margin-top: -30px;
    margin-left: 750px;       /* 印象派—乐享生活*/
}
.yin img{
    margin-top: 110px;
}

#nav>ul>li{

    width: 150px;
    font-size: 18px;
    height: 50px;
    overflow: hidden;/*溢出隐藏*/
    text-align: left;
    line-height: 50px;/*行高*/
}

.submenu li a{

    list-style: none;
    width: 100px;
    line-height: 40px;
    height: 50px;
    text-align: center;
    color: white;

}

.submenu li{
    width: 120px;
    height: 30px;
    background-color: rgba(0,0,0,0.6);
    line-height: 30px;
    list-style: none;/*去掉小圆点*/     /*为更多的子菜单添加背景*/
}



.daohang-head{
    width: 1944px;
    height: 60px;
    background-color:#F1F1F1;
}


.daohang-head-wenzi>ul>li{

    margin-left: 135px;
    margin-top: 20px;
    list-style: none;       /*导航文字下面的文字*/
}


#nav>ul>li:hover{
    overflow: visible; /*更多的动画效果*/
}


.search{
    color:white;
    width: 20px;
    height: 30px;
    font-size: 20px;
    margin-right: 50px;
}

.daohang>li{
    list-style: none;
    width: 100px;
    line-height: 50px;
    overflow: hidden;
    text-align: center;

    height: 50px;
}

.daohang a:hover{
    color: #19f0c3;
}



.daohang{
    margin-top: 0px;
    margin-left: 130px;
}


.daohang-head-wenzi>ul>li>a{
    text-decoration: none;
    color: #0a1141;              /*导航文字标签的文字样式*/

}

.daohang-head-wenzi{
    margin-top: 20px;    /*导航块整体上移12px*/
}

.daohang-head-wenzi a:hover{
    color: #ffae0f;
    border-bottom: 1px solid #ffae0f;
}


.loginbox >a:hover{
    background-color: #2d2f14;
    opacity: 0.6;
    color: aqua; }

.resitbox >a:hover{
    background-color: #2d2f14;
    opacity: 0.6;
    color: aqua; }

.daohang a:hover{
    color: #9fff31;
}


.jz{
    width: 1200px;
    height: 500px;
    margin: 0 auto;
    position: relative;
}
.tpwz{
    width: 800px;
    height: 300px;
    position: absolute;
    top: 100px;
    /*z-index: 999;*/
}
.tp{
    width: 250px;
    height: 253px;
    background-image: url("../imag/1.gif");
    position: absolute;
    left: 300px;
    margin-top: 180px;
}
.FlootL{
    float: left;
}
.FlootR{
    float: right;
}
.wz ul{
    position: absolute;
    top: 200px;
    width: 200px;
    height: 200px;
    left: 700px;
}
.wz ul li{
    width: 200px;
    font-size: 20px;
    height: 50px;
    line-height: 50px;/*行高*/
    list-style: none;
    /*outline: 1px solid red;*/
}
.wz1 ul{
    position: absolute;
    top: 80px;
    width: 200px;
    height: 200px;
    left: 300px;
}
.wz1 ul li {
    width: 200px;
    font-size: 20px;
    height: 50px;
    line-height: 50px; /*行高*/
    list-style: none;
    /*outline: 1px solid red;*/
}
.wz2 ul{
    position: absolute;
    top: 80px;
    width: 200px;
    height: 200px;
    left: 700px;
}
.wz2 ul li {
    width: 200px;
    font-size: 20px;
    height: 50px;
    line-height: 50px; /*行高*/
    list-style: none;
    /*outline: 1px solid red;*/
}
#frist1{
    width: 1944px;
    height: 300px;
    position: absolute;
    top: 1000px;
    background-color: white;
}
.tp1{
    width: 250px;
    height: 253px;
    background-image: url("../imag/2.gif");
    position: absolute;
    left: 730px;
    top: 50px;
}
#frist2{
    width: 1944px;
    height: 700px;
    position: absolute;
    top: 1300px;
    background-image: url("../imag/bj2.gif");
    /*background-attachment: fixed;*/
    background-position: center top;}
.tp2{
    width: 250px;
    height: 250px;
    background-image: url("../imag/31.gif");
    position: absolute;
    left: 300px;
    top: 50px;
}
#end{
    width: 1944px;
    height: 300px;
    margin-top: 1100px;
    background-color: black;
}


/*————————————————————————联系我们——————————————————————*/

#lianxi{
    width: 1930px;
    height: 300px;
    background: #010101;
}
#lianxi>.jieshaohezi{
    width:300px;
    margin-top: 40px;
    height: 180px;
    margin-left: 30px;
    color: #fffafe;
    /*outline: 3px solid red;*/
}


.ul_1{
    color: #010101;
    /*outline: 3px solid red;*/
    line-height: 35px;
    margin-left: 150px;
    margin-top: 40px;
}
.ul_1 li{
    list-style: none;

}

.ul_2{
    color: #fdfdff;
    /*outline: 3px solid red;*/
    line-height: 35px;
    margin-left: 150px;
    margin-top: 40px;
}
.ul_2 li{
    list-style: none;

}

.ul_3{
    color: white;
    /*outline: 3px solid red;*/
    line-height: 35px;
    margin-left: 150px;
    margin-top: 40px;
}
.ul_3 li{
    list-style: none;

}

.ul_4{
    color: white;
    width: 300px;
    height: 400px;
    /*outline: 3px solid red;*/
    line-height: 35px;
    margin-left: 150px;
    margin-top: 40px;
}
.ul_4 li{
    list-style: none;

}

/*输入框*/
.shurukuang{
    margin-top:10px;
    margin-right: 30px;

}
.dingyue{
    margin-left: 200px;
    margin-top: -35px;
    width: 50px;
    color: rgb(202, 200, 200);
    text-align: center;
    border-radius: 5px 5px 5px 5px;
    background: #00A398;
}

.dingyue:hover{
    color: #fffdfd;
}
